<div>
<% if comment.present? %>
<a class="pull-left" href="#">
                        
                    </a>
                    <div class="media-body">
                        
                       <h4 class="media-heading">
						               
<<<<<<< HEAD
						<%if comment.user.nil? %>
						<%else%>
						 <h2 class = "text-left" style = "text-decoration= bold"><%= link_to comment.user.name, user_path(comment.user) %></h2>
						</h4>

						 <p>
						   <%= comment.body %>
						  <% end %>
						  <br>
						  <br>
						 <%= link_to 'Delete Comment', [comment.article, comment],
						  method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm"%>
			       		</p>

					</div>
</div>

					
<% end %>
=======

						<p>
						<%if comment.user.nil? %>
						<%else%>
						  <%= comment.user.name %> :
						 
						   <%= comment.body %>
						  <% end %>
						  <br/>
						<%= link_to 'Destroy Comment', [comment.article, comment],
						  method: :delete, data: { confirm: 'Are you sure?' } %>
						 
						 </p>
				       </h4>

					</div>

					
<% end %>
<div>
>>>>>>> 5eb42be2eea0344bb1dd7c13e0387ade6e81709c
