<h1>Listing Articles</h1>
<%= link_to 'New article', new_article_path %>
<br>
<%= link_to 'View articles by categories', bycategory_path %>
<br><br>
<table width="80%" style = "border: 2px solid" >
  <tr>
    <th style = "border: 2px solid; text-align: center">Title</th>
    <th style = "border: 2px solid; text-align: center">Created By</th>
    <th style = "border: 2px solid; text-align: center">Category</th>
    <th colspan = "2" style = "border: 2px solid; text-align: center">Actions</th>
  </tr>
 <% flag = true %>
  <% @article.each do |article| %>
  <% if flag %> 
    <tr colspan = "4">
  
     
      <td style = "border: 2px solid; text-align: center"><%= link_to article.title, article_path(article) %></td>
      <td style = "border: 2px solid; text-align: center"><%= article.user.name %></td>
      <td style = "border: 2px solid; text-align: center">
      <% cats = [] %>
      <% article.categories.each do |c| %>
        <% cats << c.category %>
      <% end %>
      <%= cats.join(', ') %>
      </td>

      <td style = "border: 2px solid; text-align: center"><%= link_to 'Edit', edit_article_path(article) %></td>
      <td style = "border: 2px solid; text-align: center"><%= link_to 'Delete', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
<% else %>
    <tr colspan = "4" bgcolor = "#B8E3B4">
  
     
      <td style = "border: 2px solid; text-align: center"><%= link_to article.title, article_path(article) %></td>
      <td style = "border: 2px solid; text-align: center"><%= article.user.name %></td>
      <td style = "border: 2px solid; text-align: center">
      <% cats = [] %>
      <% article.categories.each do |c| %>
        <% cats << c.category %>
      <% end %>
      <%= cats.join(', ') %>
      </td>
      <td style = "border: 2px solid; text-align: center"><%= link_to 'Edit', edit_article_path(article) %></td>
      <td style = "border: 2px solid; text-align: center"><%= link_to 'Delete', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  <% flag = !flag %>
  <% end %>
</table>