
<div class = "container">
  <div class = "row" >
    <h1>Blog Posts</h1>
    <% if current_user.admin? %>
    <%= link_to 'New article', new_article_path%> 
    <% end %>
      <% @article.each do |article| %>
        
        <div class = "panel panel-default">
          
          <div class = "panel-heading">
            <h3>
            <%= link_to article.title, article_path(article) %>
            </h3>
          </div>

          <div class = "panel-body">
          <h5><%= article.text %></h5>
          </div>

          <% if current_user.admin? %>
          <span><%= link_to 'Edit', edit_article_path(article), :class => "btn btn-primary" %></span>
          <span><%= link_to 'Delete', article_path(article),
                  method: :delete,
                  data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"  %></span>
          <% end %>
        </div>

      <% end %>


  </div>
</div>