<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= simple_format(@article.text) %>
</p>

 
<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>
 
<%= link_to 'Back', articles_path,  class: "btn btn-primary" %>
<%= link_to 'Edit', edit_article_path(@article),  class: "btn btn-primary" %>
<% if @article.user_id == @current_user.id %>
  <%= link_to 'Add Category', addcategory_path(@article),  class: "btn btn-primary" %>
<% end %>

 <div class="container-center">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <hr>

                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span>Created at <%=@article.created_at%></p>