<<<<<<< HEAD
                <h3 class= "text-left">
=======
<h3 class= "text-left">
>>>>>>> 5eb42be2eea0344bb1dd7c13e0387ade6e81709c
                   <b><%= link_to article.title, article_path(article) %></b> 
                </h3>
                <p class="lead">
                    by <%= link_to article.user.name, user_path(article.user) %>
                </p>
<<<<<<< HEAD
                
=======
>>>>>>> 5eb42be2eea0344bb1dd7c13e0387ade6e81709c
                <p><span class="glyphicon glyphicon-time"></span> Posted on 
                <%= article.created_at.strftime('%d/%m/%Y, %H:%M') %>
                </p>

                  <% if current_user.admin? %>
<<<<<<< HEAD
                  <span>
                  <%= link_to 'Edit', edit_article_path(article), :class => "btn btn-primary"%>
                  </span>
                <span><%= link_to 'Delete', article_path(article),
                  method: :delete,
                  data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></span>
=======
                  <span><%= link_to 'Edit', edit_article_path(article), :class => "btn btn-primary", style:"color:white" %></span>
                  <span><%= link_to 'Delete', article_path(article),
                  method: :delete,
                  data: { confirm: 'Are you sure?' }, :class => "btn btn-danger", style:"color:white" %></span>
>>>>>>> 5eb42be2eea0344bb1dd7c13e0387ade6e81709c
                  <% end %>

                <hr>
                    <% article.photos.first(1).each do |p| %>
                    <%= image_tag p.image_url, :class => "img-responsive"%>
                    <hr>
                <% end %>
                <blockquote>
                    <p><%= article.text %></p>
<<<<<<< HEAD
                <%= link_to 'Read More', article_path(article), :class => "btn btn-primary"%>
                </blockquote> 

<hr>
=======
                <%= link_to article_path(article), :class => "btn btn-primary", style:"color:white" do %>
                Read More
                <span class="glyphicon glyphicon-chevron-right"></span>
                <% end %>      
                </blockquote> 
                
                <% if article.categories.present? %>
                <div class = "well well-sm">
                <span>
                <ul class="list-inline">
                <% cats = [] %>
                <% article.categories.each do |c| %>
                <li>
                  <h4>
                  <span class="badge"><%= c.category %></span>
                  </h4>
                </li>
                <% end %>
                </ul>
                </span>
                </div>
                <% end %>
                
<hr>
>>>>>>> 5eb42be2eea0344bb1dd7c13e0387ade6e81709c
