
<div class = "container">
  <div class = "row" >
    <h1 class= "page-header">Blog Posts</h1>
    
<<<<<<< HEAD
    <div class = "row">
    <% if current_user.admin? %>
    <%= link_to 'New article', new_article_path, :class => "btn btn-primary btn-lg", style:"color:white"%> 
    <% end %>
    </div>
      <% @articles.each do |article| %>

=======
    <div class= "btn-group">
    <% if current_user.admin? %>
    <%= link_to 'New article', new_article_path, :class => "btn btn-primary btn-lg", style:"color:white"%> 
    <% end %>

    <%= link_to 'View articles by categories', bycategory_path, :class => "btn btn-primary btn-lg", style:"color:white" %>
      <% @articles.each do |article| %>

      </div>
>>>>>>> 5eb42be2eea0344bb1dd7c13e0387ade6e81709c
      <%= render article%>

      <% end %>
      
      <%= will_paginate @articles %>


  </div>
</div>