 <div class="container-center">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1><%= @article.title %></h1>

                <!-- Author -->
                <p class="lead">
                by <%= @article.user.name %>
                </p>
 
                <%= link_to 'Back', articles_path,  class: "btn btn-primary" %> 
    
                <span class = "span-right">
                    <%= link_to 'Edit', edit_article_path(@article),  class: "btn btn-primary" %>
                </span>
                <%= link_to 'Delete', article_path(@article), method: :delete,
              data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>

              <% if @article.user_id == current_user.id %>
                <%= link_to 'Add Category', addcategory_path(@article),  class: "btn btn-primary" %>
                <% end %>
                <hr>
                <br>

                <!-- Date/Time -->
                <p>
                <span class="glyphicon glyphicon-time"></span>
                Created at <%=@article.created_at.strftime('%d/%m/%Y, %H:%M')%></p>
                <hr>

                <!-- Preview Image -->
                <%= image_tag @article.image_url.to_s if @article.image? %>
                <% @photos.each do |p| %>
                    <%= image_tag p.image_url %>
                    <br><br><br>
                    <hr>
                <% end %>
                

                <!-- Post Content -->
                <p class="lead"><%=@article.text%></p>


                <hr>

                <!-- Blog Comments -->
        
            
                <br>

  				<%= form_for([@article, @article.comments.build]) do |f| %>
                <!-- Comments Form -->
                <div class="well">
                    <h4>Leave a Comment:</h4>
                            <%= f.text_area :body %>
                            <%= f.submit 'Submit', :class => "btn btn-primary"%>
                            <% end %>
                </div>

                 <% if @comments.count > 0 %>
                <%= render @comments %>
            <% end%> 

            </div>             
        </div>
</div>

          



